.footer-title{
    color: FFFFF;
    font: size 18px;;
}
.foot{
    background-color: #151515;
}
.footer{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7rem;
}
.footer-title{
    color:#fff;
    border-bottom: 1px solid #fff;
    padding-bottom: .3rem;
}
.foot-nav{
    padding: 0;
}
.foot-item{
    list-style: none;
    margin-bottom: .5rem;
}
.foot-link{
    color: #fff;
    text-decoration: none;
}